<div class="wrapper">
    <mat-card class="greet mat-card">
        <mat-card-title class="greet__title">
            Welcome to our chat!
        </mat-card-title>
        <img mat-card-image class="greet__image" src="/assets/img/hello.png" />
        <mat-card-actions class="greet__actions">
            <button
                routerLink="/login"
                mat-raised-button
                color="primary"
                class="greet__login"
            >
                Name yourself and go live!
            </button>
        </mat-card-actions>
    </mat-card>
</div>
