@import '../../../../variables.scss';

.wrapper {
    margin: auto;
    padding: 20px;
    max-width: 750px;

  .greet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $lg;
    margin-top: 2px;
    text-align: center;

    &__title {
        font-weight: bold;
        margin-bottom: $xlg;
    }

    &__image {
        width: 50%;
        margin: 0 auto;
    }

    &__actions {
        margin-top: $m;
        padding: $lg;
    }
  }
}
